<footer class="footer">
  <nav>
    <ul class="d-flex justify-content-center">
      <li><%= link_to '<i class="fa fa-facebook-square fa-2x"></i>'.html_safe, "https://www.facebook.com/omeshwor.shrestha/", :target => "_blank" %></li>
      <li><%= link_to "<i class='fa fa-comment fa-2x'></i>".html_safe, "http://m.me/omeshwor.shrestha", :target => "_blank" %></li>
    </ul>
  </nav>
</footer>
