<footer class="footer">
  <nav>
    <ul class="d-flex justify-content-center">
      <li><%= link_to "Facebook Page", "https://www.facebook.com/omeshwor.shrestha/", :target => "_blank"  %></li>
      <li><%= link_to "Contact Me", "http://m.me/omeshwor.shrestha", :target => "_blank" %></li>
    </ul>
  </nav>
</footer>
