<div class="col-2 left-col">
  <% if @rooms.exists? %>
    <% @rooms.each do |room| %>
      <a href="<%= room_path(room) %>"><%= room.title %></a>
    <% end %>
  <% else %>
    <p>No Rooms to display</p>
  <% end %>
</div>